.borders {
    width: 100%;
    height: 3px;
    background: #000 ;
    border-radius: 3px;
    position: relative;
}

.borders span{
    width: 25px;
    height: 100%;
    display: flex;
    background: #73c2fb;
    border-radius: 3px;
    position: relative;
    animation: animate 3s ease-in-out infinite;
    animation-direction:alternate-reverse;
}

.imageContainer {
  width: fit-content;
  align-items: center;
}

@keyframes animate{
    0%{
      left: 1px;
    }
    100%{
      left: 100%;
    }
}
